#mode {
  position: absolute;
  top: 15px;
  right: 10px;
  font-size: 0.7em;
  background-color: #1d242e;
  border-radius: 10px;
  padding: 0.3em;
  color: #f3f3f3;
}
#mode:hover {
  background-color: #6d6f72;
}

.navBar {
  position: fixed;
  top: 2rem;
  left: 2rem;
  width: 80%;
  transition: all 1s ease-in-out;
  clip-path: circle(0% at 100% 0%);
  z-index: 999;
  background: linear-gradient(120deg, #4c3279 30.71%, #23153c);
}
.navBar .link {
  all: unset;
  display: flex;
  height: 90vh;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  list-style: none;
  margin: 0 0 0 30%;
}
.navBar .link li a {
  color: #cad6dd;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.5rem;
  letter-spacing: 0.3em;
  font-family: "Roboto Flex", sans-serif;
}
.navBar .link li a:hover {
  background: linear-gradient(100deg, #dfc22c 20.71%, #e8ca35);
  border-radius: 1rem;
  transition: all 0.2s ease-in-out;
  padding: 0.5rem;
}
@media screen and (min-width: 320px) and (max-width: 760px) {
  .navBar {
    top: 2rem;
    left: 2rem;
    width: 85%;
    transition: all 1s ease-in-out;
    clip-path: circle(0% at 100% 0%);
    z-index: 999;
    height: 80vh;
  }
  .navBar .link {
    height: 80%;
    justify-content: space-between;
    padding: 2rem;
  }
  .navBar .link li a {
    font-size: 1rem;
    justify-content: flex-end;
  }
}
html * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto Flex", sans-serif;
  opacity: 0.9;
  background-color: #23153c;
}

.light {
  background-color: #f3f3f3;
}

.header {
  width: 100%;
  height: 100vh;
}
.header .boxName {
  display: flex;
  flex-direction: column;
  width: 70%;
  visibility: visible;
}
.header .boxName .name {
  width: 100%;
  padding: 15% 0 5% 10%;
  color: #cad6dd;
}
.header .boxName .name p {
  font-size: 2rem;
  margin: 1rem 0 1rem 0;
}
.header .boxName .name .hi {
  line-height: 2;
  font-weight: 0;
  color: #FD2155;
  font-size: 4rem;
  border: 1.5px solid #FD2155;
  padding: 0.3rem;
  letter-spacing: 1.5px;
}
.header .boxName .name .hi:hover {
  box-shadow: #29154b 0px 0px 0px 10px;
  transition: 0.4s all ease-in-out;
  background-color: #dfc22c;
}
.header .boxName .name h2 {
  font-size: 3.5rem;
}
.header .boxName .name h1 {
  font-size: 3.5rem;
  padding: 1.5rem 0 1rem 0;
}
.header .boxName .name h1 .lname {
  line-height: 1;
  font-weight: 500;
  color: #FD2155;
  font-size: 4rem;
  border: 1.5px solid #FD2155;
  padding: 0.3rem;
  letter-spacing: 1.5px;
}
.header .boxName .name h1 .lname:hover {
  box-shadow: #29154b 0px 0px 0px 10px;
  transition: 0.4s all ease-in-out;
  background-color: #dfc22c;
}
.header .boxName .name .avaible {
  border-radius: 0.2rem;
  background-color: #23153c;
  border: 1.5px solid #FD2155;
  font-size: 0.8rem;
  font-weight: 600;
  padding: 0.3rem;
  width: 35%;
  color: #FD2155;
  letter-spacing: 1.5px;
  margin: 2rem 0 1rem 0;
}
.header .boxName .name .down {
  display: flex;
  width: 85vw;
  justify-content: space-between;
  position: relative;
  margin-top: 12%;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .header .boxName {
    width: 100%;
    padding: 50% 0 0 0;
  }
  .header .boxName .name {
    width: 100%;
    padding: 60% 0 0 10%;
  }
  .header .boxName .name p {
    font-size: 1.5rem;
    margin: 1rem 0 1rem 0;
  }
  .header .boxName .name .hi {
    line-height: 2;
    font-size: 2.5rem;
    padding: 0.2rem;
    letter-spacing: 1px;
  }
  .header .boxName .name .hi:hover {
    box-shadow: #29154b 0px 0px 0px 10px;
    transition: 0.4s all ease-in-out;
    background-color: #dfc22c;
  }
  .header .boxName .name h2 {
    font-size: 2.5rem;
  }
  .header .boxName .name h1 {
    font-size: 2.5rem;
    padding: 1rem 0 1rem 0;
  }
  .header .boxName .name h1 .lname {
    line-height: 1;
    font-size: 2.5rem;
    padding: 0.3rem;
    letter-spacing: 1.5px;
  }
  .header .boxName .name h1 .lname:hover {
    box-shadow: #29154b 0px 0px 0px 10px;
    transition: 0.4s all ease-in-out;
    background-color: #dfc22c;
  }
  .header .boxName .name .avaible {
    font-size: 0.8rem;
    font-weight: 700;
    padding: 0.5rem;
    width: 75%;
    letter-spacing: 1.4px;
    margin: 0.5rem 0 0 0;
  }
  .header .boxName .name .down {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .header .boxName {
    width: 100%;
    padding: 50% 0 0 0;
  }
  .header .boxName .name {
    width: 100%;
    padding: 50% 0 0 10%;
  }
  .header .boxName .name p {
    font-size: 1.5rem;
    margin: 1rem 0 1rem 0;
  }
  .header .boxName .name .hi {
    line-height: 2;
    font-size: 2.5rem;
    padding: 0.2rem;
    letter-spacing: 1px;
  }
  .header .boxName .name .hi:hover {
    box-shadow: #29154b 0px 0px 0px 10px;
    transition: 0.4s all ease-in-out;
    background-color: #dfc22c;
  }
  .header .boxName .name h2 {
    font-size: 2.5rem;
  }
  .header .boxName .name h1 {
    font-size: 2.5rem;
    padding: 1rem 0 1rem 0;
  }
  .header .boxName .name h1 .lname {
    line-height: 1;
    font-size: 2.5rem;
    padding: 0.3rem;
    letter-spacing: 1.5px;
  }
  .header .boxName .name h1 .lname:hover {
    box-shadow: #29154b 0px 0px 0px 10px;
    transition: 0.4s all ease-in-out;
    background-color: #dfc22c;
  }
  .header .boxName .name .avaible {
    font-size: 0.8rem;
    font-weight: 800;
    padding: 0.5rem;
    width: 90%;
    letter-spacing: 1.5px;
    margin: 1rem 0 0 0;
  }
  .header .boxName .name .down {
    display: none;
  }
}
@media screen and (min-width: 1380px) and (max-width: 1950px) {
  .header .boxName {
    visibility: visible;
  }
  .header .boxName .name {
    width: 100%;
    padding: 20% 0 5% 10%;
    color: #cad6dd;
  }
  .header .boxName .name p {
    font-size: 2rem;
    margin: 1rem 0 1rem 0;
  }
  .header .boxName .name .hi {
    font-size: 4rem;
  }
  .header .boxName .name .hi:hover {
    box-shadow: #29154b 0px 0px 0px 10px;
    transition: 0.4s all ease-in-out;
    background-color: #dfc22c;
  }
  .header .boxName .name h2 {
    font-size: 3.5rem;
  }
  .header .boxName .name h1 {
    font-size: 3.5rem;
  }
  .header .boxName .name h1 .lname {
    font-size: 4rem;
  }
  .header .boxName .name h1 .lname:hover {
    box-shadow: #29154b 0px 0px 0px 10px;
    transition: 0.4s all ease-in-out;
    background-color: #dfc22c;
  }
  .header .boxName .name .avaible {
    font-size: 0.9rem;
    width: 30%;
    letter-spacing: 2px;
  }
  .header .boxName .name .down {
    width: 85vw;
    position: relative;
    left: 0%;
  }
}

.boxAboutMe {
  display: flex;
}
.boxAboutMe .aboutMe {
  width: 95%;
  height: 100vh;
  display: flex;
  color: #23153c;
}
.boxAboutMe .aboutMe .bitMe {
  width: 90%;
  font-size: 2.3rem;
  font-weight: 200;
  height: 10%;
  padding: 2.5rem 0.5rem 0 2rem;
}
.boxAboutMe .aboutMe .bitMe .me {
  color: red;
}
.boxAboutMe .aboutMe .description {
  font-size: 1.1rem;
  width: 60%;
  text-align: justify;
  padding: 5% 0 0 5%;
}
.boxAboutMe .aboutMe .description p {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}
.boxAboutMe .back {
  display: none;
}
@media screen and (min-width: 320px) and (max-width: 760px) {
  .boxAboutMe {
    height: 100vh;
  }
  .boxAboutMe .aboutMe {
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    font-weight: bold;
  }
  .boxAboutMe .aboutMe .bitMe {
    width: 90%;
    font-size: 1.4rem;
    padding: 5px 5px 1rem 5px;
    font-weight: bold;
  }
  .boxAboutMe .aboutMe .description {
    margin: 1rem 0 1rem 0;
    font-size: 0.9rem;
    width: 95%;
    text-align: justify;
    padding: 3% 1.5rem 0 1rem;
  }
  .boxAboutMe .aboutMe .description p {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
  }
}
@media screen and (min-width: 768px) and (max-width: 1020px) {
  .boxAboutMe .aboutMe {
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
  }
  .boxAboutMe .aboutMe .bitMe {
    width: 90%;
    font-size: 1.5rem;
    padding: 5px 5px 0 5px;
  }
  .boxAboutMe .aboutMe .description {
    font-size: 1.1rem;
    width: 90%;
    text-align: justify;
    padding: 1% 0 0 1rem;
  }
  .boxAboutMe .aboutMe .description p {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
  }
}
@media screen and (min-width: 1380px) and (max-width: 1950px) {
  .boxAboutMe .aboutMe .bitMe {
    font-size: 3rem;
    font-weight: 300;
  }
  .boxAboutMe .aboutMe .description {
    font-size: 1.6rem;
    width: 60%;
    text-align: justify;
    padding: 5% 0 0 5%;
  }
  .boxAboutMe .aboutMe .description p {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
  }
}

.boxPorfolio {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 2rem 2rem 0 2rem;
  margin: auto;
  background-image: linear-gradient(to top, #dfc22c 5%, #23153c 100%);
}
.boxPorfolio h2 {
  align-self: center;
  font-size: 6rem;
  color: #23153c;
  font-weight: bold;
  font-family: Montserrat, sans-serif;
  letter-spacing: normal;
  line-height: normal;
  writing-mode: vertical-rl;
  box-orient: vertical;
  direction: rtl;
  transform: rotate(180deg);
  -webkit-font-smoothing: antialiased;
}
.boxPorfolio .linkProject {
  display: grid;
  gap: 2%;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 40%);
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  margin: 5% 0 5% 10%;
}
.boxPorfolio .linkProject .boxProject {
  margin: 0.1rem;
  width: 31%;
  max-height: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5%;
  background-color: rgba(35, 21, 60, 0.1);
  color: #cad6dd;
  padding: 0 0.5rem 0 0.5rem;
  font-size: 0.7rem;
  text-align: center;
}
.boxPorfolio .linkProject .boxProject h3 {
  padding: 5px 0;
}
.boxPorfolio .linkProject .boxProject img {
  width: 90%;
  height: 60%;
  padding: 1rem 0 1rem 0;
  border-radius: 20px;
  opacity: 0.6;
}
.boxPorfolio .linkProject .boxProject img:hover {
  opacity: 1;
}
.boxPorfolio .linkProject .boxProject .btnAcces {
  margin: 5% auto 0 auto;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}
.boxPorfolio .linkProject .boxProject .btnAcces a {
  text-decoration: none;
  text-align: center;
  padding: 0.5rem;
  width: 25%;
  color: #f3f3f3;
}
.boxPorfolio .linkProject .boxProject .btnAcces a:hover {
  transform: scale(1.5);
  transition: all 0.5s linear;
}
@media screen and (min-width: 320px) and (max-width: 768px) {
  .boxPorfolio {
    padding: 0;
  }
  .boxPorfolio h2 {
    align-self: flex-start;
    font-size: 4.5rem;
    letter-spacing: 10px;
    margin: 50% 0 0 0;
  }
  .boxPorfolio .linkProject {
    margin: 5% 8% 10% 0;
    gap: 5px;
  }
  .boxPorfolio .linkProject .boxProject {
    width: 98%;
    height: 20%;
  }
  .boxPorfolio .linkProject .boxProject img {
    width: 100%;
    height: 50%;
  }
  .boxPorfolio .linkProject .boxProject .btnAcces {
    margin: 10% auto 0 auto;
    justify-content: space-between;
  }
}
@media screen and (min-width: 768px) and (max-width: 1020px) {
  .boxPorfolio {
    padding: 0;
  }
  .boxPorfolio h2 {
    align-self: flex-start;
    font-size: 4.5rem;
    letter-spacing: 10px;
    margin: 30% 0 0 0;
  }
  .boxPorfolio .linkProject {
    margin: 0 8% 0 0;
    gap: 5px;
  }
  .boxPorfolio .linkProject .boxProject {
    width: 98%;
    height: 20%;
  }
  .boxPorfolio .linkProject .boxProject img {
    width: 100%;
    height: 50%;
  }
  .boxPorfolio .linkProject .boxProject .btnAcces {
    margin: 10% auto 0 auto;
    justify-content: space-between;
  }
}
@media only screen and (min-width: 1380px) and (max-width: 1950px) {
  .boxPorfolio h2 {
    font-size: 8rem;
  }
  .boxPorfolio .linkProject .boxProject {
    margin: 0.3rem;
    font-size: 1rem;
    color: #f3f3f3;
  }
  .boxPorfolio .linkProject .boxProject h3 {
    padding: 5px 0;
  }
  .boxPorfolio .linkProject .boxProject img {
    border-radius: 1rem;
    opacity: 0.6;
  }
  .boxPorfolio .linkProject .boxProject img:hover {
    opacity: 1;
  }
  .boxPorfolio .linkProject .boxProject .btnAcces a {
    padding: 1rem;
    width: 30%;
  }
  .boxPorfolio .linkProject .boxProject .btnAcces a:hover {
    transform: scale(1.5);
    transition: all 0.5s linear;
  }
}

.boxSkill {
  background-color: #dfc22c;
  display: flex;
  flex-direction: column;
  height: 60vh;
  overflow: hidden;
}
.boxSkill .aboutSkill {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
}
.boxSkill .aboutSkill h3 {
  font-size: 4rem;
  font-weight: 650;
  width: 35%;
  padding: 0 0 0 1rem;
  color: #23153c;
  font-weight: bold;
  font-family: Montserrat, sans-serif;
  line-height: normal;
  letter-spacing: 1.5px;
  -webkit-font-smoothing: antialiased;
}
.boxSkill .aboutSkill h2 {
  font-size: 4rem;
  font-weight: 650;
  letter-spacing: 5px;
  -webkit-text-stroke: 2px #23153c;
  color: transparent;
}
.boxSkill .tegnology {
  display: flex;
  height: 40%;
  margin: 5% 0 0 0;
}
.boxSkill .tegnology .skill {
  margin: 0 10rem 0 10rem;
  text-align: center;
}
.boxSkill .tegnology .skill h5 {
  font-weight: bold;
}
@media only screen and (min-width: 320px) and (max-width: 760px) {
  .boxSkill {
    justify-content: space-between;
    overflow: hidden;
  }
  .boxSkill .aboutSkill {
    flex-direction: row;
    justify-content: flex-start;
  }
  .boxSkill .aboutSkill h3 {
    font-size: 3.5rem;
  }
  .boxSkill .aboutSkill h2 {
    display: none;
  }
  .boxSkill .tegnology .skill {
    margin: 0 10rem 0 5px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1020px) {
  .boxSkill {
    justify-content: space-between;
    overflow: hidden;
  }
  .boxSkill .aboutSkill h3 {
    font-size: 3.5rem;
  }
  .boxSkill .tegnology {
    width: 100%;
    white-space: nowrap;
  }
  .boxSkill .tegnology .skill {
    margin: 0 10rem 0 5px;
  }
}
@media only screen and (min-width: 1380px) and (max-width: 1950px) {
  .boxSkill {
    overflow: hidden;
    height: 45vh;
  }
  .boxSkill .aboutSkill {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 0 0 0 5rem;
  }
  .boxSkill .aboutSkill h3 {
    font-size: 4.5rem;
  }
  .boxSkill .aboutSkill h2 {
    font-size: 4.5rem;
  }
  .boxSkill .tegnology {
    display: flex;
    height: 40%;
    margin: 5% 0 0 0;
  }
  .boxSkill .tegnology .skill {
    margin: 0 10rem 0 10rem;
    text-align: center;
  }
  .boxSkill .tegnology .skill h5 {
    font-weight: bold;
  }
}

.boxContact {
  background-image: linear-gradient(to top, #23153c 30%, #dfc22c 100%);
  height: 100vh;
  display: flex;
}
.boxContact .aboutContact {
  display: flex;
  width: 50%;
  color: #cad6dd;
  padding: 0 0 0 4rem;
  text-align: justify;
}
.boxContact .aboutContact h2 {
  font-size: 3.5rem;
  color: #23153c;
  font-weight: bold;
  font-family: Montserrat, sans-serif;
  letter-spacing: normal;
  line-height: normal;
  writing-mode: vertical-rl;
  box-orient: vertical;
  direction: rtl;
  transform: rotate(180deg);
  margin: 10% 0 0 0;
  -webkit-font-smoothing: antialiased;
}
.boxContact .aboutContact .mail {
  padding: 0 0 0 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.boxContact .aboutContact .mail p {
  font-size: 1.6rem;
  color: #cad6dd;
}
.boxContact .aboutContact .mail button {
  background-color: #cad6dd;
  padding: 0.8rem;
  border-radius: 30px;
  width: 50%;
}
.boxContact .aboutContact .mail button:hover {
  box-shadow: #29154b 0px 0px 0px 10px;
  transition: 0.4s all ease-in-out;
  background-color: #dfc22c;
}
.boxContact .aboutContact .mail button a {
  text-decoration: none;
  color: #23153c;
  font-size: 1.4rem;
}
.boxContact aside {
  width: 50%;
}
.boxContact aside .socialMedia {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  left: 85%;
  width: 15%;
  height: 50%;
  top: 40%;
}
.boxContact aside .socialMedia li {
  list-style: none;
}
.boxContact aside .socialMedia li a {
  text-decoration: none;
}
@media screen and (min-width: 320px) and (max-width: 760px) {
  .boxContact {
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    height: 100vh;
  }
  .boxContact .aboutContact {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
  }
  .boxContact .aboutContact h2 {
    font-size: 3rem;
    letter-spacing: normal;
    line-height: normal;
    writing-mode: horizontal-tb;
    direction: ltr;
    transform: rotate(0deg);
    padding: 0 20% 0 0;
    -webkit-font-smoothing: antialiased;
  }
  .boxContact .aboutContact .mail {
    padding: 20% 3% 0 0;
    width: 80%;
    align-items: center;
  }
  .boxContact .aboutContact .mail p {
    font-size: 1.5rem;
  }
  .boxContact .aboutContact .mail button {
    padding: 0.8rem;
    border-radius: 30px;
    margin: 50% 0 0 0;
    width: 80%;
  }
  .boxContact .aboutContact .mail button a {
    text-decoration: none;
    color: #23153c;
    font-size: 1.5rem;
  }
  .boxContact aside {
    width: 100%;
    padding: 0 1rem 0 1rem;
  }
  .boxContact aside .socialMedia {
    flex-direction: row;
    position: static;
    width: 100%;
    padding: 2rem;
  }
  .boxContact aside .socialMedia li {
    list-style: none;
  }
  .boxContact aside .socialMedia li a {
    text-decoration: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1020px) {
  .boxContact {
    flex-direction: column;
  }
  .boxContact .aboutContact h2 {
    font-size: 3rem;
    letter-spacing: normal;
    line-height: normal;
    writing-mode: horizontal-tb;
    direction: ltr;
    transform: rotate(0deg);
    -webkit-font-smoothing: antialiased;
  }
  .boxContact aside {
    width: 100%;
  }
  .boxContact aside .socialMedia {
    flex-direction: row;
    position: static;
    width: 100%;
    padding: 1rem;
  }
  .boxContact aside .socialMedia li {
    list-style: none;
  }
  .boxContact aside .socialMedia li a {
    text-decoration: none;
  }
}
@media screen and (min-width: 1380px) and (max-width: 1950px) {
  .boxContact .aboutContact h2 {
    font-size: 4.5rem;
  }
  .boxContact .aboutContact .mail {
    padding: 0 0 0 20%;
    height: 80%;
  }
  .boxContact .aboutContact .mail p {
    font-size: 1.8rem;
    color: #f3f3f3;
  }
  .boxContact .aboutContact .mail button {
    width: 40%;
  }
  .boxContact .aboutContact .mail button:hover {
    box-shadow: #3d2169 0px 0px 0px 5px;
    transition: 0.4s all ease-in-out;
    background-color: #dfc22c;
  }
  .boxContact .aboutContact .mail button a {
    text-decoration: none;
    color: #23153c;
    font-size: 1.4rem;
  }
  .boxContact aside {
    width: 50%;
  }
  .boxContact aside .socialMedia {
    height: 40%;
    top: 15%;
  }
  .boxContact aside .socialMedia li {
    list-style: none;
  }
  .boxContact aside .socialMedia li a {
    text-decoration: none;
  }
}

footer {
  background-color: #23153c;
  color: #f3f3f3;
  text-align: center;
  font-size: 0.8rem;
}
@media screen and (min-width: 320px) and (max-width: 760px) {
  footer {
    height: 10vh;
  }
}
@media screen and (min-width: 768px) and (max-width: 1020px) {
  footer {
    height: 10vh;
  }
}
.menu {
  background-color: rgba(35, 21, 60, 0.8);
  border-radius: 4px;
  padding: 0.3rem;
  position: fixed;
  left: 96%;
  top: 3%;
  z-index: 999;
  cursor: pointer;
}
@media all and (min-width: 320px) and (max-width: 760px) {
  .menu {
    left: 90%;
    top: 1%;
  }
}
@media all and (min-width: 768px) and (max-width: 1020px) {
  .menu {
    left: 90%;
    top: 1%;
  }
}
@media all and (min-width: 1380px) and (max-width: 1950px) {
  .menu {
    left: 98%;
    top: 1.5rem;
  }
}

.active {
  clip-path: circle(100% at 5% 90%);
}
@media all and (min-width: 20rem) and (max-width: 30rem) {
  .active {
    clip-path: circle(70% at 0% 30%);
  }
}
@media all and (min-width: 30rem) and (max-width: 48rem) {
  .active {
    clip-path: circle(90% at 0% 50%);
  }
}
@media all and (min-width: 48rem) and (max-width: 60rem) {
  .active {
    clip-path: circle(90% at 20% 50%);
  }
}

/*# sourceMappingURL=style.css.map */
