.boxAboutMe{
    display: flex;
    .aboutMe{
        width:95%;
        height: 100vh;
        display: flex;
        color: #23153c;
        .bitMe {
            width: 90%;
            font-size: 2.3rem;
            font-weight: 200;
            height: 10%;
            padding: 2.5rem .5rem 0 2rem;
            .me{
                color: red;
            }
        }
        .description {
            font-size: 1.1rem;
            width: 60%;
            text-align: justify;
            padding: 5% 0 0 5%;
            p {
                opacity: 0;
                transform: translateY(50px);
                transition: opacity 0.5s ease-out, transform 0.5s ease-out;
            }
        }
    }
    .back{
        display: none;
    }


@media screen and (min-width: 320px) and (max-width: 760px) {
    height: 100vh;
    .aboutMe{
        flex-direction: column;
        justify-content: space-around;
        width: 100%;
        font-weight: bold;
        .bitMe {
            width: 90%;
            font-size: 1.3rem;
            padding: 5px 5px 1rem 5px;
            font-weight: bold;
        }
        .description {
            margin: 1rem 0 1rem 0;
            font-size: .8rem;
            width: 95%;
            text-align: justify;
            padding: 3% 1.5rem 0 1rem;
            p {
                opacity: 0;
                transform: translateY(50px);
                transition: opacity 0.5s ease-out, transform 0.5s ease-out;
            }
        }
    }
}
@media screen and (min-width: 768px) and (max-width: 1020px) {
    .aboutMe{
        flex-direction: column;
        justify-content: space-around;
        width: 100%;
        .bitMe {
            width: 90%;
            font-size: 1.5rem;
            padding: 5px 5px 0 5px;
        }
        .description {
            font-size: 1.1rem;
            width: 90%;
            text-align: justify;
            padding: 1% 0 0 1rem;
            p {
                opacity: 0;
                transform: translateY(50px);
                transition: opacity 0.5s ease-out, transform 0.5s ease-out;
            }
        }
    }
}

@media screen and (min-width: 1380px) and (max-width: 1950px) {
    .aboutMe{
        .bitMe {
            font-size: 3rem;
            font-weight: 300;
        }
        .description {
            font-size: 1.6rem;
            width: 60%;
            text-align: justify;
            padding: 5% 0 0 5%;
            p {
                opacity: 0;
                transform: translateY(50px);
                transition: opacity 0.5s ease-out, transform 0.5s ease-out;
            }
        }
    }

}

}