.boxAboutMe{
    display: flex;
    background-color: #1e2225;
    .aboutMe{
        width:60%;
        height: 100vh;
        margin: auto;
        text-align:center;
        color: #f3f3f3;
        padding: 2rem 0  0 4rem;
        h2{
            font-size: 3rem;
            color: #00caf4;
            margin-bottom: 1rem;
            font-weight: 500;
        }
        p{
            padding-bottom: 1rem;
            font-size: 1em;
        }
        .spanEng{
            margin: 2rem 0 0 0;
            span{
                font-size: 2rem;
                color: #00caf4;
                font-weight: 300;
                letter-spacing:  .5rem;
                .down{
                    margin-top:3rem;
                }
            }
        }
    }
    .back{
        display: none;
    }


@media screen and (min-width: 320px) and (max-width: 480px) {
    flex-direction: column;
    .aboutMe{
        height: 100%;
        width:80%;
        padding: 1rem 0 0 5rem;
        text-align: justify;
        h2{
            font-size: 2rem;
            margin-bottom: 1rem;
            font-weight: 600;
        }
        p{
            font-size: .8rem;
            padding-bottom: 1.5rem;
        }
    .spanEng{
            span{
                font-size: 1rem;
                font-weight: 700;
            .down{
                display: none;
            }
        }
    }
}
.back{
    display: none;
}
}
@media screen and (min-width: 481px) and (max-width: 768px) {
    flex-direction: column;
    .aboutMe{
        width:80%;
        height: 100%;
        padding: 1rem 0 0 6rem;
        text-align: justify;
        h2{
            font-size: 3rem;
            margin-bottom: 1rem;
        }
        p{
            font-size: .8rem;
            padding-bottom: 1.5rem;
        }
        .spanEng{
            margin: .5rem 0 0 0;
            span{
                font-size: 1.6rem;
                .down{
                    display: none;
                }
            }
        }
}
    .back{
        display: none;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .aboutMe{
        width:90%;
        text-align:justify;
        h2{
            font-size: 3rem;
            margin-bottom: 1rem;
            font-weight: 500;
        }
        p{
            font-size: .9rem;
            padding-bottom: 1.5rem;
        }
        .spanEng{
            margin: .5rem 0 0 0;
            span{
                font-size: 1.5rem;
                font-weight: 400;
                .down{
                    display: none;
                }
            }
        }
}
.back{
    display: none;
}
}

}