.boxContact{
    background-image: linear-gradient(to top, #23153c 30%, #dfc22c 100%);
    height:100vh;
    display: flex;
    .aboutContact{
        display: flex;
        width:50%;
        color: #cad6dd;
        padding: 0 0 0 4rem;
        text-align: justify;
        h2{
            font-size: 3.5rem;
            color: #23153c;
            font-weight: bold;
            font-family: Montserrat, sans-serif;
            letter-spacing: normal;
            line-height: normal;
            writing-mode: vertical-rl;
            box-orient: vertical;
            direction:rtl;
            transform: rotate(180deg);
            margin: 10% 0 0 0;
            -webkit-font-smoothing: antialiased;
        }
        .mail{
            padding: 0 0 0 20%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            p{
                font-size: 1.6rem;
                color: #cad6dd;
            }
            button{
                background-color: #cad6dd;
                padding: .8rem;
                border-radius: 30px;
                width: 50%;
                &:hover{
                    box-shadow: #29154b 0px 0px 0px 10px;
                    transition: .4s all ease-in-out;
                    background-color: #dfc22c;
                }
                a{
                    text-decoration: none;
                    color: #23153c;
                    font-size: 1.4rem;
                }
            }
        }
    }
    aside{
        width: 50%;
        .socialMedia{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            position: relative;
            left: 85%;
            width: 15%;
            height: 50%;
            top: 40%;
            li{
                list-style: none;
                a{
                    text-decoration: none;
                }
            }
        }
    }

@media screen and (min-width: 320px) and (max-width: 760px) {
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    height:100vh;
    .aboutContact{
        display: flex;
        flex-direction: column;
        width: 100%;
        text-align: center;
        h2{
            font-size: 3rem;
            letter-spacing: normal;
            line-height: normal;
            writing-mode: horizontal-tb;
            direction: ltr;
            transform: rotate(0deg);
            padding: 0 20% 0 0;
        -webkit-font-smoothing: antialiased;
        }
        .mail{
            padding: 20% 3% 0 0;
            width: 80%;
            align-items: center;
            p{
                font-size: 1.5rem;
            }
            button{
                padding: .8rem;
                border-radius: 30px;
                margin: 50% 0 0 0;
                width: 80%;
                a{
                    text-decoration: none;
                    color: #23153c;
                    font-size: 1.5rem;
                }
            }
        }
    }
    aside{
        width: 100%;
        padding: 0 1rem 0 1rem;
        .socialMedia{
            flex-direction: row;
            position: static;
            width: 100%;
            padding: 2rem;
            li{
                list-style: none;
                a{
                    text-decoration: none;
                }
            }
        }
    }
}


@media screen and (min-width: 768px) and (max-width: 1020px) {
    flex-direction: column;
    .aboutContact{
        h2{
            font-size: 3rem;
            letter-spacing: normal;
            line-height: normal;
            writing-mode: horizontal-tb;
            direction: ltr;
            transform: rotate(0deg);
        -webkit-font-smoothing: antialiased;
        }
    }
    aside{
        width: 100%;
        .socialMedia{
            flex-direction: row;
            position: static;
            width: 100%;
            padding: 1rem;
            li{
                list-style: none;
                a{
                    text-decoration: none;
                }
            }
        }
    }

}

@media screen and (min-width: 1380px) and (max-width: 1950px) {
    .aboutContact{
        h2{
            font-size: 4.5rem;
        }
        .mail{
            padding: 0 0 0 20%;
            height: 80%;
            p{
                font-size: 1.8rem;
                color: #f3f3f3;
            }
            button{
                width: 40%;
                &:hover{
                    box-shadow: #3d2169 0px 0px 0px 5px;
                    transition: .4s all ease-in-out;
                    background-color: #dfc22c;
                }
                a{
                    text-decoration: none;
                    color: #23153c;
                    font-size: 1.4rem;
                }
            }
        }
    }
    aside{
        width: 50%;
        .socialMedia{
            height: 40%;
            top: 15%;
            li{
                list-style: none;
                a{
                    text-decoration: none;
                }
            }
        }
    }
}

}