footer{
    background-color: #23153c;
    color: #f3f3f3;
    text-align: center;
    font-size: .8rem;

    @media screen and (min-width: 320px) and (max-width: 760px) {
        height: 10vh;
    }


    @media screen and (min-width: 768px) and (max-width: 1020px) {
        height: 10vh;

    }

    @media screen and (min-width: 1380px) and (max-width: 1950px) {
    }

}

