html * {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto Flex', sans-serif;
    opacity: .9;
    background-color: #23153c;
    overflow-x: hidden;
}
.light{
    background-color: #f3f3f3;
}


.header{
    width: 100%;
    min-height: 100vh;
    .boxName{
        display: flex;
        flex-direction: column;
        width: 70%;
        visibility: visible;
        .name{
            width: 100%;
            padding: 15% 0 5% 10%;
            color: #cad6dd;
            p{
                font-size: 2rem;
                margin: 1rem 0 1rem 0;
            }
            .hi{
                line-height: 2;
                font-weight: 00;
                color: #FD2155;
                font-size: 4rem;
                border: 1.5px solid #FD2155;
                padding: .3rem;
                letter-spacing: 1.5px;
                &:hover{
                    box-shadow: #29154b 0px 0px 0px 10px;
                    transition: .4s all ease-in-out;
                    background-color: #dfc22c;
                }
            }
            h2{
                font-size:3.5rem;
            }
            h1{
                font-size:3.5rem;
                padding: 1.5rem 0 1rem 0;
                .lname{
                    line-height: 1;
                    font-weight: 500;
                    color: #FD2155;
                    font-size: 4rem;
                    border: 1.5px solid #FD2155;
                    padding: .3rem;
                    letter-spacing: 1.5px;
                    &:hover{
                        box-shadow: #29154b 0px 0px 0px 10px;
                        transition: .4s all ease-in-out;
                        background-color: #dfc22c;
                    }
            }
            }
            .avaible{
                border-radius: .2rem;
                background-color: #23153c;
                border: 1.5px solid #FD2155;
                font-size: .8rem;
                font-weight: 600;
                padding: .3rem;
                width: 33%;
                color: #FD2155;
                letter-spacing: 1.5px;
                margin: 2rem 0 1rem 0;
            }
            .down{
                display: flex;
                width: 85vw;
                justify-content: space-between;
                position: relative;
                margin-top: 12%;
            }
    }
    }

    @media screen and (min-width: 320px) and (max-width: 767px){
        .boxName{
            width: 100%;
            padding: 30% 0 0 0;
            .name{
                width: 100%;
                padding: 50% 0 0 10%;
                p{
                    font-size: 1.5rem;
                    margin: 1rem 0 1rem 0;
                }
                .hi{
                    line-height: 2;
                    font-size: 2.5rem;
                    padding: .2rem;
                    letter-spacing: 1px;
                    &:hover{
                        box-shadow: #29154b 0px 0px 0px 10px;
                        transition: .4s all ease-in-out;
                        background-color: #dfc22c;
                    }
                }
                h2{
                    font-size:2.5rem;
                }
                h1{
                    font-size:2.5rem;
                    padding: 1rem 0 1rem 0;
                    .lname{
                        line-height: 1;
                        font-size: 2.5rem;
                        padding: .3rem;
                        letter-spacing: 1.5px;
                        &:hover{
                            box-shadow: #29154b 0px 0px 0px 10px;
                            transition: .4s all ease-in-out;
                            background-color: #dfc22c;
                        }
                }
                }
                .avaible{
                    font-size: .9rem;
                    font-weight: 700;
                    padding: .5rem;
                    width: 74%;
                    letter-spacing: 1.4px;
                    margin: .5rem 0 0 0;
                }
                .down{
                    display: none;
                }
            }
        }

    }
    @media screen and (min-width: 768px) and (max-width: 1023px){
        .boxName{
            width: 100%;
            padding: 50% 0 0 0;
            .name{
                width: 100%;
                padding: 50% 0 0 10%;
                p{
                    font-size: 1.5rem;
                    margin: 1rem 0 1rem 0;
                }
                .hi{
                    line-height: 2;
                    font-size: 2.5rem;
                    padding: .2rem;
                    letter-spacing: 1px;
                    &:hover{
                        box-shadow: #29154b 0px 0px 0px 10px;
                        transition: .4s all ease-in-out;
                        background-color: #dfc22c;
                    }
                }
                h2{
                    font-size:2.5rem;
                }
                h1{
                    font-size:2.5rem;
                    padding: 1rem 0 1rem 0;
                    .lname{
                        line-height: 1;
                        font-size: 2.5rem;
                        padding: .3rem;
                        letter-spacing: 1.5px;
                        &:hover{
                            box-shadow: #29154b 0px 0px 0px 10px;
                            transition: .4s all ease-in-out;
                            background-color: #dfc22c;
                        }
                }
                }
                .avaible{
                    font-size: .8rem;
                    font-weight: 800;
                    padding: .5rem;
                    width: 90%;
                    letter-spacing: 1.5px;
                    margin: 1rem 0 0 0;
                }
                .down{
                    display: none;
                }
            }
        }

    }

    @media screen and (min-width: 1380px) and (max-width: 1950px){
        .boxName{
            visibility: visible;
            .name{
                width: 100%;
                padding: 20% 0 5% 10%;
                color: #cad6dd;
                p{
                    font-size: 2rem;
                    margin: 1rem 0 1rem 0;
                }
                .hi{
                    font-size: 4rem;
                    &:hover{
                        box-shadow: #29154b 0px 0px 0px 10px;
                        transition: .4s all ease-in-out;
                        background-color: #dfc22c;
                    }
                }
                h2{
                    font-size:3.5rem;
                }
                h1{
                    font-size:3.5rem;
                    .lname{
                        font-size: 4rem;
                        &:hover{
                            box-shadow: #29154b 0px 0px 0px 10px;
                            transition: .4s all ease-in-out;
                            background-color: #dfc22c;
                        }
                }
                }
                .avaible{
                    font-size: .9rem;
                    width: 30%;
                    letter-spacing: 2px;
                }
                .down{
                    width: 85vw;
                    position: relative;
                    left: 0%;
                }
        }
        }

}
}
