@import '../generals/variable';

.boxServices{
    background-color: #292c2f;
    display: flex;
    justify-content:center;
    align-items:baseline;
    height: 50%;
    .boxCard{
        margin: 2rem 2rem 2rem 2rem;
        width: 20%;
        height: 60%;
        text-align: center;
        color: #f3f3f3;
        h6{
            margin: .7rem 0 .7rem 0;
            font-size: 1.5rem;
        }
        p{
            line-height: 2;
            text-align:center;
            font-size: .8rem;
        }
    }

@media screen and (min-width: 320px) and (max-width: 480px) {
    display: none;
}

@media screen and (min-width: 481px) and (max-width: 768px){
    display: none;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    flex-wrap:nowrap;
    height: 60%;
    .boxCard{
        width: 100%;
        height: 30vh;
        font-size: .6rem;
        margin: .5rem;
        padding: 1rem;
        h6{
            margin: .5rem 0 .5rem 0;
            font-size: 1rem;
        }
    }
}

}

